/* Header */
a{
    list-style: none;
    color: black;
    text-decoration: none;
}
#header{
    display: block;
    position: relative;
}
#header img{
    height: 30px;
    width: 170px;
    margin: 20px 0 10px 0;
}
.back__index{
    width: 2%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 25px;
    font-size: 20px;
}
.header__logo{
    width: 100%;
    text-align: center;
}
/* Fin du Header */
/* Main */
.section1{
    height: 220px;
}
.section1 img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.section2{
    position: relative;
    border-radius: 30px;
    background: #ffffff;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
}
h1{
    margin: 35px 0 0 0;
    font-family: shrikhand;
    font-size: 28px;
    font-weight: initial;
    width: 100%;
}
.card__header{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 0 10% 0 5%;
}
/* Heart */
.card__body-right{
    width: 51px;
    height: 50px;
    display: flex;
    justify-content: center;
}
.card__heart{
    width: 22px;
    height: 21px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.heart__like{
    font-size: 0;
    transition: all 1s ease-in-out;
    left: 10.5px;
    top: 21px;
    background: -webkit-linear-gradient(95deg, rgba(255,121,218,1) 4%, rgba(147,86,220,1) 43%); /* Permet de modifier la couleur du coeur cacher */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.heart__liked{
    font-size: 21px;
    left: 0;
    top: 0;
    background: -webkit-linear-gradient(95deg, rgba(255,121,218,1) 4%, rgba(147,86,220,1) 43%); /* Permet de modifier la couleur du coeur cacher */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.heart__liked,.heart{
    position: absolute;
}
.heart{
    font-size: 21px;
    left: 0;
}
.heart__like,.heart{
    position: absolute;
}
.card__heart:hover .heart__like{
    left: 0;
    top: 0;
    font-size: 21px;
}
/* Fin Heart */
/* Fin du Main */
/* Card menu */
.card__title{
    margin-left: 5%;
    box-shadow: 0px 5px 0px -1px #99e2d0;
    width: 40px;
}
.card-left{
    width: 100%;
    height: 65px;
    transition: all 0.5s ease-out;
}
.card-right{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 0%;
    background-color: #99E2D0;
    border-radius: 0 15px 15px 0;
    color: #ffffff;
    font-size: 21px;
    overflow: hidden;
    transition: all .5s ease-out;
}
.check{
    transform: rotate(0deg);
}
.card__dish:hover .card-right{
    width: 15%;
}
.card__dish:hover .check{
    transform: rotate(360deg);
    transition: all .5s ease-out;
    animation-fill-mode: both;
}
.card__dish:hover .card-left{
    width: 85%;
}
.card__dish:active .card-right{
    width: 15%;
}
.card__dish:active .card-left{
    width: 85%;
}
.dish-top{
    margin: 10px 0 5px 10px;
    font-weight: bold;
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.dish-bot{
    display: flex;
    justify-content: space-between;
    margin: 5px 20px 10px 10px;
    font-size: 15px;
}
.dish{
    width: 85%;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.price{
    margin: 0;
    font-weight: bold;
}
.card__menu{
    margin-top: 30px;
    width: 100%;
}
.card__dish{
    display: flex;
    justify-content: space-between;
    width: 93%; 
    margin: 4%; 
    box-shadow: 1px 2px 10px #999;
    border-radius: 15px;
    overflow: hidden;
    cursor: pointer;
    max-width: 550px;
    animation: ItemAppear .5s;
    transform: translateY(10px);
    animation-fill-mode: both;
}
.btn__commander{
    text-align: center;
    margin: 65px 0 80px 0;
}
.commander{
    border-radius: 25px;
    padding: 14px 50px 14px 50px;
    box-shadow: 1px 2px 10px #999;
    background: linear-gradient(172deg, rgba(255,121,218,1) 10%, rgba(147,86,220,1) 90%);
    color: #eeeeee;
}
#card__menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}
@media all and (min-width:992px){
    .section2{
        max-width: 1400px;
    }
}